.App {
  text-align: center;
}

body {
  /* background-color: rgb(212, 248, 248); */
}

.blogBox {

  width: 300px;
  border-radius: 5px;
  border: solid lightgrey 2px;
  box-shadow: 5px 5px gray;
  margin: 20px;
  background-color: rgba(245, 245, 245, 0.54);
}

.blogWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttonWrapper {
  display: flex;
justify-content: space-around;
  flex-wrap: wrap;
}

.invokes {
  margin: 15px;
}

hr {
  width: 800px;
}

#addComment {
  margin-bottom: 10px;
}

