.App {
  text-align: center;
}

body {
  background-color: rgb(212, 248, 248);
}

.blogBox {

  width: 300px;
  border-radius: 5px;
  border: solid black 2px;
  box-shadow: 5px 5px gray;
  margin: 20px;
  background-color: rgba(245, 245, 245, 0.54);
}

.blogWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

